<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <h1><%= user.username %>'s files.</h1>
        <p>This is the files section of your user account.</p>
        <p>Feel free to have a glimpse at the files that have been uploaded</p>



        <%- include('../partials/_fileUploadModal') %>
        <%- include('../partials/_folderCreationModal') %>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
