<div class="file-explorer">
    <div class="control-panel">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fileUploadModal">Upload file</button>
            <% if (folderView === false) { %>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#folderCreationModal">Create Folder</button>
            <% } %>
    </div>

        <div class="path-display">
                <p>Current path: <%= path %></p>
        </div>
        <% if (folderView === false) { %>
            <div class="folder-list">       
                <h3>Folders</h3>
                <% if (folders && folders.length >= 1) { %>
                    <ul>
                        <% folders.forEach(folder=> { %>
                            <li><a href="/user/<%= user.id %>/files/folder/<%= folder.id %>"><%= folder.name %></a></li>
                            <form action="/user/<%= user.id %>/files/folders/<%= folder.id %>/delete" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        <% }) %>
                    </ul>
                
                    <% } else { %>
                        <p>No folders found.</p>
                <% } %>
            </div>
        <% } %>

    <div class="file-list">
        <h2>Files</h2>
        <% if (files && files.length >= 1) { %>
         <ul>
            <% files.forEach(file =>{ %>
                <li>
                    <a href="/user/<%= user.id %>/files/<%= file.id %>"><%= file.title %></a>
                    <form action="/user/<%= user.id %>/files/<%= file.id %>/delete" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>
            <% }) %>
         </ul>
        <% } else { %>
            <p>No files found.</p>
        <% } %>
    </div>
</div>