<div class="file-details border p-4 rounded">
    <h2 class="mb-3"><%= file.title %></h2>
    
    <h4>File Path:</h4>
    <p class="mb-2"><%= file.filePath %></p>
    
    <h4>Uploaded by:</h4>
    <p class="mb-2"><%= file.User.username %></p>
    
    <h4>Size:</h4>
    <p class="mb-2"><%= file.size %></p>
    
    <h4>Uploaded on:</h4>
    <p class="mb-2"><%= new Date(file.uploadTime).toLocaleString() %></p>
    
    <h4>Updated on:</h4>
    <p class="mb-2"><%= new Date(file.updatedAt).toLocaleString() %></p>

    <a class="btn btn-primary" href="/user/<%= user.id %>/files/<%= file.id %>/download">Download</a>
</div>